<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>CLIENT_ID</key>
      <string>753194651551-4kve0pmjfbacv0n67gps9da8jkt3quc1.apps.googleusercontent.com</string>
      <key>REVERSED_CLIENT_ID</key>
      <string>com.googleusercontent.apps.753194651551-4kve0pmjfbacv0n67gps9da8jkt3quc1</string>
      <key>PLIST_VERSION</key>
      <string>1</string>
      <key>BUNDLE_ID</key>
      <string>org.reactjs.native.example.EqMan</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753194651551-5v633mmvuqdq4lj48d9b1fat9ek6h8su.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwNkAG0Nf5yR50rVG-tJgCpW96QOhw8dE</string>
	<key>GCM_SENDER_ID</key>
	<string>753194651551</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EqMan</string>
	<key>PROJECT_ID</key>
	<string>eqman-245ab</string>
	<key>STORAGE_BUCKET</key>
	<string>eqman-245ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753194651551:ios:55d7e0b968d8248e8277aa</string>
	<key>DATABASE_URL</key>
	<string>https://eqman-245ab.firebaseio.com</string>
</dict>
</plist>
